{% extends "base.html"%}

{% block title %}
Laravel 9 Python Django Ajax FullCalendar CRUD (Create, Read, Update and Delete)
{% endblock title %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <img src="/static/image/b.jpg" class="d-block w-100" alt="books" />
    <div class="carousel-caption d-none d-md-block">
      <h1 style="font-weight: bolder; font-size: 80px">
        Book classes from here...
      </h1>
    </div>
  </div>
</div>
{% endblock body %}

{% block content %}
<div class="col-md-12">
  <div id="calendar"></div>
</div>
{% endblock %}
