{% extends "base.html" %}

{% block title %}Student Portal{% endblock title %}

{% block body %}
<section class="h-100 h-custom" style="background-color: #8fc4b7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100"
            style="
              border-top-left-radius: 0.3rem;
              border-top-right-radius: 0.3rem;
            "
            alt="Sample photo"
          />
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Book Your Classes</h3>

            <form class="px-md-2 post-form" action="#" method="POST">
              {% csrf_token %}

              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="studentname"
                  name="studentname"
                  class="form-control"
                  placeholder="studentname"
                  required
                /><br />
                <input
                  type="text"
                  id="course"
                  name="course"
                  class="form-control"
                  placeholder="Course"
                  required
                /><br />
                <input
                  type="text"
                  class="form-control"
                  name="date"
                  id="date"
                  placeholder="Select a date"
                  required
                /><br />

                <input
                type="submit"
                name="submit"
                value="SUBMIT"
                class="btn btn-success btn-lg mb-1"
              >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}